/* Table styles */
table {
  width: 100%;
  margin: 1.25em 0em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  text-align: left;
  border-spacing: 0;
  font-size: 14px;
  .active {
    background: #e0e0e0;
  }
}
th {
  background: #f9fafb;
  padding: 1em 1em;
  font-weight: bold;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}
td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  padding: 1em 1em;
  .circle-icon {
    position: relative;
    top: 0.1em;
    width: 1.25em;
    height: 1.25em;
    margin-left: -1.6em;
    padding-right: 0.5em;
  }
}
tr {
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &:first-child td {
    border-top: none;
  }
}

/* Checkbox styles */
input[type="checkbox"] {
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  &:not(:checked) {
    opacity: 0.6;
  }
  + label {
    font-size: 1.25em;
  }
}
.all-checkbox {
  margin: 0 1.5em;
}
.list-checkbox {
  margin-left: 0.625em;
}

/* Button styles */
.download-button {
  position: absolute;
  left: 16em;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25em;
  &:disabled {
    cursor: not-allowed;
    .download-icon {
      opacity: 0.4;
    }
  }
}
.download-icon {
  width: 0.9em;
  height: 0.8em;
  margin-right: 0.3em;
}
